<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.coderead.mybatis.UserMapper">
    <!--<cache/>-->
    
    <resultMap id="blogMap" type="org.coderead.mybatis.bean.Blog" autoMapping="true">
        <result column="title" property="title" />
        <!--<association property="author" column="author_id" select="selectUserByUserId"/>-->
        <collection property="comments" column="id" select="selectCommentByBlogId" />
    </resultMap>
    
    <resultMap id="commentMap" type="org.coderead.mybatis.bean.Comment" >
        <association property="blog" column="blog_id" select="selectBlogById" />
    </resultMap>

    <select id="selectBlogById" resultMap="blogMap">
        select * from blog where id = #{id}
    </select>

    <select id="selectUserByUserId" resultType="org.coderead.mybatis.bean.User">
        select * from users where id =#{userId}
    </select>

    <select id="selectCommentByBlogId" resultMap="commentMap">
        select * from comment where blog_id=#{blogId}
    </select>
    
    
    <parameterMap id="paramter_user" type="org.coderead.mybatis.bean.User">
        <parameter property="name" javaType="string"/>
    </parameterMap>
    <resultMap id="result_user" type="org.coderead.mybatis.bean.User" autoMapping="true">
        <id column="id" property="id"/>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
        <result column="create_time" property="createTime" jdbcType="DATETIMEOFFSET" javaType="date"/>
    </resultMap>
    <select id="selectByUser" resultMap="result_user" parameterMap="paramter_user" flushCache="true">
        select * from users where 1=1
        <if test="id!=null">
            and id=#{id}
        </if>
        <if test="name!=null">
            and name=#{name}
        </if>
        <if test="age!=null">
            and age=#{age}
        </if>

    </select>

    <update id="editUser" parameterType="org.coderead.mybatis.bean.User">
        update users set
        name=#{name}
        <if test="age!=null">
            ,
            age=#{age}
        </if>
        <if test="sex!=null">
            ,
            sex=#{sex}
        </if>
        <if test="phoneNumber!=null">
            ,
            phone_number=#{phoneNumber}
        </if>
        <if test="email!=null">
            ,
            email=#{email}
        </if>
        where id=#{id}
    </update>

    <!-- 懒加载测试 -->
    <resultMap id="blogMap2" type="org.coderead.mybatis.bean.Blog" autoMapping="true">
        <result column="title" property="title" />
        <collection property="comments" column="id" select="selectCommentsByBlog" fetchType="lazy" />
    </resultMap>
    <select id="selectBlogByIdLazy" resultMap="blogMap2">
        select * from blog where id = #{id}
    </select>
    <select id="selectCommentsByBlog" resultType="org.coderead.mybatis.bean.Comment">
        select * from comment where blog_id=#{blogId}
    </select>


    <resultMap id="blogMap3" type="org.coderead.mybatis.bean.Blog" autoMapping="true">
        <id column="id" property="id" />
        <collection property="comments" ofType="org.coderead.mybatis.bean.Comment" autoMapping="true" columnPrefix="comment_" />
    </resultMap>

    <select id="selectByBlogIdCollection" resultMap="blogMap3">
        select a.id, a.title, c.id as comment_id,
        c.body as comment_body
        from blog a
        left join comment c on a.id = c.blog_id
        where a.id = #{id}
    </select>

    <!-- 循环引用 -->
    <resultMap id="blogMap4" type="org.coderead.mybatis.bean.Blog" autoMapping="true">
        <id column="id" property="id" />
        <collection property="comments" ofType="org.coderead.mybatis.bean.Comment" autoMapping="true" columnPrefix="comment_" >
            <association property="blog" javaType="org.coderead.mybatis.bean.Blog" resultMap="blogMap4" />
        </collection>
    </resultMap>

    <select id="selectByBlogIdCollectionCircu" resultMap="blogMap4">
        select a.id, a.title, c.id as comment_id,
               c.body as comment_body
        from blog a
                 left join comment c on a.id = c.blog_id
        where a.id = #{id}
    </select>
</mapper>